<div>
  <p id="alertMessage">
    <ngb-alert id="alerta" (close)="close('alerta')">
      <strong>{{ alertMessage.type }}</strong> {{ alertMessage.message }}
    </ngb-alert>
  </p>
</div>
<div id="movieReview">
  <h2>{{ review.Title }}</h2>
  <img src="{{ review.Poster }}">
  <article>
    <h3>{{ movieMessage.date }}</h3>
    <p> <strong>{{ movieMessage.genre }}</strong> {{ review.Genre }}</p>
    <p> <strong>{{ movieMessage.actors }}</strong> {{ review.Actors }}</p>
    <h3>{{ movieMessage.plot }}</h3>
    <p>{{ review.Plot }}</p>
  </article>
</div>
