<div>
  <h1>Movie Searcher</h1>
</div>
<div class="form">
  <form #formSearch="ngForm" (ngSubmit)="onSearch(formSearch)">
    <input type="text" placeholder="{{ placeholder }}" name="inputSearch" [(ngModel)]='inputSearch'/>
    <button type="submit" class="btn btn-secondary">Buscar</button>
    <p id="infoText">Ingresa la película en ingles que desas buscar</p>
  </form>
  <p id="alertMessage">
    <ngb-alert id="alerta" (close)="close('alerta')" >
      <strong>{{ alertMessage.type }}</strong> {{ alertMessage.message }}
    </ngb-alert>
  </p>
</div>
<app-recommended></app-recommended>
