<div id="recommended">
  <h2>Recomendaciones</h2>
  <ngb-carousel class="carousel" >
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{ movies[0] }}">
      </div>
      <div class="carousel-caption">
        <h3>{{ movies[1] }}</h3>
        <p>{{ movies[2] }}.</p>
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{ movies[3] }}">
      </div>
      <div class="carousel-caption">
        <h3>{{ movies[4] }}</h3>
        <p>{{ movies[5] }}.</p>
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{ movies[6] }}">
      </div>
      <div class="carousel-caption">
        <h3>{{ movies[7] }}</h3>
        <p>{{ movies[8] }}.</p>
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{ movies[9] }}">
      </div>
      <div class="carousel-caption">
        <h3>{{ movies[10] }}</h3>
        <p>{{ movies[11] }}.</p>
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{ movies[12] }}">
      </div>
      <div class="carousel-caption">
        <h3>{{ movies[13] }}</h3>
        <p>{{ movies[14] }}.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>